$content-width: 800px;
$main: #fafafa;
$font-style: 'Roboto', sans-serif;
$font-color: #262626;
$link-color: #1565c0;
$link-hover-color: #1565c0;
$heading-font: 'Roboto', Lucida Bright, Verdana, Georgia, serif;
$heading-font-color: #000;
$light: #E7EDF4;
$header:  #2196F3;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
